body{
	background-color:#e6b3cc;
}
nav {
         background-color:white;
         width:100%;
         height:180px;
         margin:none;
         }
ul {
       float:right;
	   font-size:30px;
	  color:blue;
      list-style-type:none;
      padding:5px;
	  margin-top:60px;
     }
li {
      display:inline;
      text-align:center;
      margin:10px;
      padding:10px;
     }
.flex-container {
  display: flex;
  flex-direction: row;
   flex-wrap: wrap;
  align-content:center;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-right:none;
}
.flex-item {
  background-color:#6b8e23	;
  padding:20px;
  align-items: center;
  box-shadow: 15px 15px 15px 5px grey;
  margin:none;
}
content{
	margin:20px;
	width:100vw;
	height:500px;
}
section{
	display:flex;
	width:100vw;
	height:430px;
	background-color:dodgerblue;
}
#s1{
	width:50%;
}
#s3{
	width:30%;
	height:400px;
	margin:50px 0px 0px 400px;
	background-color:#ff69b4;
	text-color:#FF3378;
	padding:10px;
	font-size:20px;
	border:2px solid #FF3363;
}
input{
	width:250px;
	height:30px;
	display:block;
	padding:10px;
	border:none;
	border-bottom:3px solid red;
}
button{
	color:white;
	width:300px;
	height:30px;
	background-color:blue;
   border-radius:5px;
	font-size:15pt;
}
hr{
	width:50%;
	float:center;
 	margin-top:10px;
	color:black;
}	
span{
	color:blue;
	float:right;
	text-decoration:underline;
}
